{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    <h2>
      {{ titleMessage }}
    </h2>
    <span class="flex"></span>
    {{#paper-button iconButton=true onClick=(action "logout")}}
      {{paper-icon "power_settings_new"}}
    {{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

<div class="layout-row layout-align-center-center layout-padding layout-fill layout-margin dashboard-align">
  {{paper-input label="Title" placeholder="Title for your game" value=name onChange=(action (mut newGameTitle))}}

  {{#paper-select
    label="User"
    options=users
    selected=selectedUser
    onChange=(action (mut selectedUser))
    as |usr|}}
    {{usr.username}}
  {{/paper-select}}

  {{#paper-button accent=true raised=true dark="true" onClick=(action "create")}}Create{{/paper-button}}
</div>


{{#paper-subheader}} Owned Games {{/paper-subheader}}
  {{#each userOwnedGames as |item|}}
    {{#paper-item onClick=(action "goToGame" item)}}
      <p>{{item.title}}</p>
      <div class="md-secondary-container">
        {{#if item.finished}}
          <div class="checkmark">
            {{paper-icon "check-circle" size=24}}
          </div>
        {{/if}}
      </div>
    {{/paper-item}}
  {{/each}}

  {{paper-divider}}

  {{#paper-subheader}} Invited Games {{/paper-subheader}}
    {{#each userInvitedGames as |item|}}
      {{#paper-item onClick=(action "goToGame" item)}}
        <p>{{item.title}}</p>
        <div class="md-secondary-container">
          {{#if item.finished}}
            <div class="checkmark">
              {{paper-icon "check-circle" size=24}}
            </div>
          {{/if}}
        </div>
      {{/paper-item}}
  {{/each}}

{{outlet}}
